html {
    margin: 15px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #D9D2C5;
}

.header {
    padding: 20px;
    margin: 15px;
    background-color: #A69785;
    text-align: center;

}

h1 {
    font-size: 36px;
    color: #261C14;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.useful-links__item {
    display: inline;
    margin: 0 15px;
}

.useful-links__link {
    color: #594A38;
    text-decoration: none;
    font-size: 18px;
}

main {
    padding: 20px;
}

.container__text {
    font-size: 28px;
    color: #261C14;
    text-align: center;
    background-color: #A69785;
    margin-bottom: 10px;
}

.container__title {
    font-size: 18px;
    color: #594A38;
    margin-bottom: 20px;
}

pre {
    padding-left: 20px;
    padding-right: 20px;
}

.footer {
    padding: 20px;
    text-align: center;
}

.footer__ascii-cat pre {
    color: #261C14;
}

.footer__ascii-cat pre:hover {
    color: red;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-section {
    box-shadow: 0 4px 8px #261C14;
    border-radius: 8px;
    width: 45%;
    padding: 20px;
    box-sizing: border-box;
}

.right-section {
    box-shadow: 0 4px 8px #261C14;
    border-radius: 8px;
    width: 45%;
    padding: 20px;
    box-sizing: border-box;
}

.right-section img {
    width: 100%;
}

.code {
    color: #594A38;
}

