html {
    margin: 15px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #FFFFFF;
    padding: 0;
}

header {
    background-color: rgba(26, 26, 26, 0.86);
    padding: 20px;
    margin: 15px;
    text-align: center;
}

h1 {
    font-size: 36px;
    color: #00ff51;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #00ff99;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

section h2 {
    font-size: 28px;
    color: #00ccff;
    margin-bottom: 10px;
}

section h5 {
    font-size: 18px;
    color: #e0e0e0;
    margin-bottom: 20px;
}

code {
    color: #ff8800;
}

pre {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #333333;
}

footer {
    background-color: #1a1a1a;
    padding: 20px;
    text-align: center;
}

#cute-cat pre {
    color: #9d00ff;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-section {
    width: 45%;
    padding: 20px;
    box-sizing: border-box;
}

.right-section {
    width: 45%;
    padding: 20px;
    box-sizing: border-box;
}